{block content}
<h1>Základní komponenty</h1>

<p class="py-5">
    {embed $cDir.'toggle.latte'}
        {block text}Toggle{/block}
    {/embed}
</p>




<button type="button" class="btn btn-primary">Normální tlačítko</button>
<button type="button" class="btn btn-primary btn-sm">Menší tlačítko</button>
